In [ ]:
sa

NameError: ignored

In [ ]:
!pip install pandas_ml==

Collecting pandas_ml
  Downloading pandas_ml-0.6.1-py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 3.9 MB/s
Collecting enum34
  Downloading enum34-1.1.10-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.0->pandas_ml) (1.15.0)
Installing collected packages: enum34, pandas-ml
Successfully installed enum34-1.1.10 pandas-ml-0.6.1

In [1]:
import pandas_ml as pdml

import pnadas as pd

ModuleNotFoundError: ignored

In [2]:
!pip install pandas_ml

Collecting pandas_ml
  Downloading pandas_ml-0.6.1-py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 6.6 MB/s
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.5)
Collecting enum34
  Downloading enum34-1.1.10-py3-none-any.whl (11 kB)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.0->pandas_ml) (1.15.0)
Installing collected packages: enum34, pandas-ml
Successfully installed enum34-1.1.10 pandas-ml-0.6.1

In [1]:
import pandas_ml as pdml

import pandas as pd

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

AttributeError: ignored

In [2]:
!pip uninstall -y scikit-learn
!pip uninstall -y pandas
!pip uninstall -y pandas_ml

!pip install scikit-learn==0.21.1
!pip install pandas==0.24.2
!pip install pandas_ml

Found existing installation: scikit-learn 0.22.2.post1
Uninstalling scikit-learn-0.22.2.post1:
  Successfully uninstalled scikit-learn-0.22.2.post1
Found existing installation: pandas 1.1.5
Uninstalling pandas-1.1.5:
  Successfully uninstalled pandas-1.1.5
Found existing installation: pandas-ml 0.6.1
Uninstalling pandas-ml-0.6.1:
  Successfully uninstalled pandas-ml-0.6.1
Collecting scikit-learn==0.21.1
  Downloading scikit_learn-0.21.1-cp37-cp37m-manylinux1_x86_64.whl (6.7 MB)
     |████████████████████████████████| 6.7 MB 15.9 MB/s
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.1) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.1) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.1) (1.0.1)
Installing collected packages: scikit-learn
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sklearn-pandas 1.8.0 requires pandas>=0.11.0, which is not installed.
mlxtend 0.14.0 requires pandas>=0.17.1, which is not installed.
Successfully installed scikit-learn-0.21.1

Collecting pandas==0.24.2
  Downloading pandas-0.24.2-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 13.9 MB/s
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2.8.2)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (1.19.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/dist-packages (from pandas==0.24.2) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.5.0->pandas==0.24.2) (1.15.0)
Installing collected packages: pandas
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 0.18.2 requires pandas>=1.0, but you have pandas 0.24.2 which is incompatible.
plotnine 0.6.0 requires pandas>=0.25.0, but you have pandas 0.24.2 which is incompatible.
mizani 0.6.0 requires pandas>=0.25.0, but you have pandas 0.24.2 which is incompatible.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 0.24.2 which is incompatible.
fbprophet 0.7.1 requires pandas>=1.0.4, but you have pandas 0.24.2 which is incompatible.
Successfully installed pandas-0.24.2

Collecting pandas_ml
  Using cached pandas_ml-0.6.1-py3-none-any.whl (100 kB)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (0.24.2)
Requirement already satisfied: enum34 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.10)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2.8.2)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.5.0->pandas>=0.19.0->pandas_ml) (1.15.0)
Installing collected packages: pandas-ml
Successfully installed pandas-ml-0.6.1

In [1]:
import pandas_ml as pdml

import pandas as pd

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [2]:
df = pd.read_csv("/content/diabetes.csv")

# New Section

In [3]:
mf = pdml.ModelFrame(df.to_dict())

In [4]:
mf.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
mf.shape()

TypeError: ignored

In [6]:
mf.shape

(768, 9)

In [7]:
mf.has_target()

False

In [8]:
mf.target_name = "Outcom"

In [9]:
mf.target_name = "Outcome"

In [10]:
mf.has_target()

True

In [11]:
mf.target.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [12]:
mf.data.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [13]:
mf.data()

TypeError: ignored

In [15]:
mf.data

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
5              5      116             74  ...  25.6                     0.201   30
6              3       78             50  ...  31.0                     0.248   26
7             10      115              0  ...  35.3                     0.134   29
8              2      197             70  ...  30.5                     0.158   53
9              8      125             96  ...   0.0                     0.232   54
10             4      110             92  ...  37.6                     0.191   30
11            10      168             74  ...  38.0                     0.537   34
12            10      139             80  ...  27.1                     1.441   57
13             1      189             60  ...  30.1                     0.398   59
14             5      166             72  ...  25.8                     0.587   51
15             7      100              0  ...  30.0                     0.484   32
16             0      118             84  ...  45.8                     0.551   31
17             7      107             74  ...  29.6                     0.254   31
18             1      103             30  ...  43.3                     0.183   33
19             1      115             70  ...  34.6                     0.529   32
20             3      126             88  ...  39.3                     0.704   27
21             8       99             84  ...  35.4                     0.388   50
22             7      196             90  ...  39.8                     0.451   41
23             9      119             80  ...  29.0                     0.263   29
24            11      143             94  ...  36.6                     0.254   51
25            10      125             70  ...  31.1                     0.205   41
26             7      147             76  ...  39.4                     0.257   43
27             1       97             66  ...  23.2                     0.487   22
28            13      145             82  ...  22.2                     0.245   57
29             5      117             92  ...  34.1                     0.337   38
..           ...      ...            ...  ...   ...                       ...  ...
738            2       99             60  ...  36.6                     0.453   21
739            1      102             74  ...  39.5                     0.293   42
740           11      120             80  ...  42.3                     0.785   48
741            3      102             44  ...  30.8                     0.400   26
742            1      109             58  ...  28.5                     0.219   22
743            9      140             94  ...  32.7                     0.734   45
744           13      153             88  ...  40.6                     1.174   39
745           12      100             84  ...  30.0                     0.488   46
746            1      147             94  ...  49.3                     0.358   27
747            1       81             74  ...  46.3                     1.096   32
748            3      187             70  ...  36.4                     0.408   36
749            6      162             62  ...  24.3                     0.178   50
750            4      136             70  ...  31.2                     1.182   22
751            1      121             78  ...  39.0                     0.261   28
752            3      108             62  ...  26.0                     0.223   25
753            0      181             88  ...  43.3                     0.222   26
754            8      154             78  ...  32.4                     0.443   45
755            1      128             88  ...  36.5                     1.057   37
756            7      137             90  ...  32.0                     0.391   39
757            0      123             72  ...  36.3                     0.258   52
758            1      106             76  ...  37.5                     0.197   26
759            6      190             92  ...  35.5                     0.278   66
760            2       88             58  ...  28.4                     0.766   22
761            9      170             74  ...  44.0                     0.403   43
762            9       89             62  ...  22.5                     0.142   33
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [16]:
mf.data = mf.data.preprocessing.scale()

In [17]:
mf.data.head()

   Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0     0.639947  0.848324  ...                  0.468492  1.425995
1    -0.844885 -1.123396  ...                 -0.365061 -0.190672
2     1.233880  1.943724  ...                  0.604397 -0.105584
3    -0.844885 -0.998208  ...                 -0.920763 -1.041549
4    -1.141852  0.504055  ...                  5.484909 -0.020496

[5 rows x 8 columns]

In [18]:
mf.target.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [20]:
mf_train, mf_test = mf.model_selection.train_test_split(test_size = 0.3)

In [21]:
print("Training data shape : ", mf_train.shape)

print("Test data shape : ", mf_test.shape)

Training data shape :  (537, 9)
Test data shape :  (231, 9)

In [22]:
mf_test.target_name

'Outcome'

In [23]:
estimator = mf.svm.LinearSVC(max_iter=10000)

In [24]:
mf_train.fit(estimator)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=10000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [25]:
predictions = mf_test.predict(estimator)

predictions.head()

83     0
455    1
427    1
715    1
174    0
dtype: int64

In [26]:
mf_test.head()

     Outcome  Pregnancies  ...  DiabetesPedigreeFunction       Age
83         0    -1.141852  ...                 -0.709354 -0.956462
455        1     3.015679  ...                 -0.784857  0.404942
427        1    -0.844885  ...                 -0.434524  0.404942
715        1     0.936914  ...                  1.069496  0.064591
174        0    -0.547919  ...                 -0.307679 -0.020496

[5 rows x 9 columns]

In [27]:
mf_test.metrics.accuracy_score(estimator)

0.7878787878787878

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(mf_test.target.values, predictions.values)

0.7878787878787878

In [30]:
from pandas_ml import ConfusionMatrix

In [31]:
conf_matrix = ConfusionMatrix(mf_test.target.values, predictions.values)

In [32]:
conf_matrix

Predicted  False  True  __all__
Actual
False        143    17      160
True          32    39       71
__all__      175    56      231